// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .link {
//   text-decoration: none;
//   font-style: normal;
// }
// .list {
//   list-style: none;
// }

//=============================================
.section {
  padding-top: 60px;
  padding-bottom: 60px;       
  @include tablet {
    padding-top: 60px;
  padding-bottom: 60px;  
  }
  @include desktop {
     padding-top: 94px;
  padding-bottom: 94px;  
}}

.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

